<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="d-flex">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/nav.ejs') %>

      <div class="container rightbar">
        <div class=" p-3 mt-2 mb-3 bg-white rounded">
          <h3>Result for user :</h3>
          <h5><%= user.username %></h5>
          <h6><%= user.email %></h6>
          <a class="btn delete" data-doc="<%= user._id %>"> delete </a>
        </div>
        <div class="quest-block d-sm-flex">
          <div class="quest-part">
            <h5>Questions and response</h5>
            <ol class="overflow-y">
              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question1 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer1 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question2 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer2 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question4 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer4 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question5 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer5 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question7 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer7 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question11 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer11 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question12 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer12 %>
                  </p>
                </li>
              </div>

              <div class="mb-2 p-4 pt-2 pb-1 bg-light rounded">
                <li>
                  <p>
                    <label class="text-primary" for="question">question</label
                    ><br />
                    <%= user.question13 %>
                  </p>
                  <p>
                    <label class="text-primary" for="response">response</label
                    ><br />
                    <%= user.answer13 %>
                  </p>
                </li>
              </div>
            </ol>
          </div>
          <%- include('../partials/minibar.ejs') %>
        </div>
      </div>

      <script>
        const trashcan = document.querySelector("a.delete");

        trashcan.addEventListener("click", (e) => {
          const endpoint = `/quests/${trashcan.dataset.doc}`;

          fetch(endpoint, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => (window.location.href = data.redirect))
            .catch((err = console.log(err)));
        });
      </script>
    </div>
  </body>
</html>
